In [4]:
import pandas as pd 
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [5]:
train_data=pd.read_csv('train.csv')
train_data.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [6]:
train_data.shape

(7613, 5)

In [7]:
df=train_data['text']
l=list()
for line in df:
  token=sent_tokenize(line)
  l.append(token)

In [8]:
df=train_data['text']
train_data['sent_token']=l

In [9]:
train_data.head()

   id keyword  ... target                                         sent_token
0   1     NaN  ...      1  [Our Deeds are the Reason of this #earthquake ...
1   4     NaN  ...      1          [Forest fire near La Ronge Sask., Canada]
2   5     NaN  ...      1  [All residents asked to 'shelter in place' are...
3   6     NaN  ...      1  [13,000 people receive #wildfires evacuation o...
4   7     NaN  ...      1  [Just got sent this photo from Ruby #Alaska as...

[5 rows x 6 columns]

In [10]:
df=train_data['text']
l1=list()
for line in df:
  tokens=word_tokenize(line)
  l1.append(tokens)

In [11]:
df=train_data['text']
train_data['word_token']=l1

In [40]:
train_data.head()

   id  ...                                         word_token
0   1  ...  [Our, Deeds, are, the, Reason, of, this, #, ea...
1   4  ...   [Forest, fire, near, La, Ronge, Sask, ., Canada]
2   5  ...  [All, residents, asked, to, 'shelter, in, plac...
3   6  ...  [13,000, people, receive, #, wildfires, evacua...
4   7  ...  [Just, got, sent, this, photo, from, Ruby, #, ...

[5 rows x 7 columns]

In [12]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stoplist= stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
stoplist=set(stoplist)
l2=list()
for i in l1:
  output = [w for w in i if not w in stoplist]
  l2.append(output)
train_data['stop_words_removed']=l2

In [18]:
train_data.head()

   id  ...                                 stop_words_removed
0   1  ...  [Our, Deeds, Reason, #, earthquake, May, ALLAH...
1   4  ...   [Forest, fire, near, La, Ronge, Sask, ., Canada]
2   5  ...  [All, residents, asked, 'shelter, place, ', no...
3   6  ...  [13,000, people, receive, #, wildfires, evacua...
4   7  ...  [Just, got, sent, photo, Ruby, #, Alaska, smok...

[5 rows x 8 columns]

In [19]:
test_data=pd.read_csv('test.csv')
test_data.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [21]:
test_data.shape

(3263, 4)

In [23]:
df=test_data['text']
l=list()
for line in df:
  token=sent_tokenize(line)
  l.append(token)
df=test_data['text']
test_data['sent_token']=l

In [24]:
test_data.head()

   id  ...                                         sent_token
0   0  ...               [Just happened a terrible car crash]
1   2  ...  [Heard about #earthquake is different cities, ...
2   3  ...  [there is a forest fire at spot pond, geese ar...
3   9  ...        [Apocalypse lighting., #Spokane #wildfires]
4  11  ...    [Typhoon Soudelor kills 28 in China and Taiwan]

[5 rows x 5 columns]

In [25]:
df=test_data['text']
l1=list()
for line in df:
  tokens=word_tokenize(line)
  l1.append(tokens)
df=test_data['text']
test_data['word_token']=l1

In [26]:
test_data.head()

   id  ...                                         word_token
0   0  ...          [Just, happened, a, terrible, car, crash]
1   2  ...  [Heard, about, #, earthquake, is, different, c...
2   3  ...  [there, is, a, forest, fire, at, spot, pond, ,...
3   9  ...  [Apocalypse, lighting, ., #, Spokane, #, wildf...
4  11  ...  [Typhoon, Soudelor, kills, 28, in, China, and,...

[5 rows x 6 columns]

In [27]:
l2=list()
for i in l1:
  output = [w for w in i if not w in stoplist]
  l2.append(output)
test_data['stop_words_removed']=l2

In [28]:
test_data.head()

   id  ...                                 stop_words_removed
0   0  ...             [Just, happened, terrible, car, crash]
1   2  ...  [Heard, #, earthquake, different, cities, ,, s...
2   3  ...  [forest, fire, spot, pond, ,, geese, fleeing, ...
3   9  ...  [Apocalypse, lighting, ., #, Spokane, #, wildf...
4  11  ...      [Typhoon, Soudelor, kills, 28, China, Taiwan]

[5 rows x 7 columns]